//Varribles Shortcut !
$flex: flex;
$color: #ffffff;
$ml: 5%;

//Function Shortcut For multiple rep-CSS !
@mixin background-text_Color {
    background-color: #f05d2c;
    color: #ffffff;
}

;

@mixin flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

;

@mixin flex-center-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

;

@mixin font-size-weight {
    font-size: 1.4rem;
    font-weight: 400;
}

;

@mixin navbar-hover {
    color: black;
    border-top: 0.3rem solid black;
    border-bottom: 0.3rem solid black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

;

@mixin Fixedfromtop-width-header {
    padding: 0.3rem 5%;
    width: 100vw;
    height: 9rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

//Heading of Website to be design


//ANIMATION For SCALLING AND MARGIN

@keyframes marginAnimation {
    0% {
        margin-left: 0;

    }

    100% {
        margin-left: $ml;
    }
}

//Universal And Html Styles..
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all .1s ease-in-out;
    scroll-behavior: smooth;
    scroll-padding-top: 15vh;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}


section {
    padding: 2rem 7%;
}

//Header Styling To make navigation Bar by using Nesting Method...
.header {
    //parent nester holding logo image
    @include background-text_Color;
    @include flex-center-space;
    @include font-size-weight;
    @include Fixedfromtop-width-header;
    color: #181717;
    z-index: 1;

    .logo {
        //children of header class
        color: red;

        img {
            //children of logo class
            height: 6rem;
            border-radius: 50%;
        }
    }

    ;

    .navbar a {
        //children of header class and class of nav tag
        @include background-text_Color;
        @include font-size-weight;
        font-size: 2.1rem;
        margin: 0 1rem;

        &:hover {
            //Hovering For anchor tag of Navbar..
            @include navbar-hover;
        }
    }

    .icons {
        //children of header class
        display: $flex;

        div {
            font-size: 1.9rem;
            cursor: pointer;
            margin-left: 2rem;

            &:hover {
                color: $color;
            }

            ;
        }

        ;


    }

}

;


.cart-item-container {
    position: absolute;
    top: 100%;
    height: 100vh;
    right: -100%;
    width: 23rem;
    background-color: $color;
    padding: 0.8rem;
    border: 1px solid black;
    border-top: none;
    @include background-text_Color;
    background-color: aliceblue;

    .card-item {
        @include flex-center-center;
        @include background-text_Color;
        justify-content: flex-start;
        margin: 1rem 0;
        border: 1px solid black;
        position: relative;

        img {
            width: 6rem;
            height: 6rem;
            margin-right: 1rem;
            object-fit: cover;

        }

        span {
            position: absolute;
            top: 20%;
            right: 4%;

            &:hover {
                cursor: pointer;
            }
        }

        .content {

            h3 {
                font-size: 1.3rem;

                padding-bottom: 0.5rem;
            }

            .price {
                font-size: 1.6rem;
                color: #181717;
                padding-bottom: 0.5rem;
            }
        }
    }

    ;

    .btn {
        @include flex-center-center;
        width: 100%;
        text-align: center
    }
}


;


.search-btn {
    //Search Button inside Header class
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 1rem;
    top: 115%;
    right: -100%;
    width: 35rem;
    border: 1px solid black;
    height: 5rem;
    transition: all 0.1s ease-in-out;
    z-index: 1;

    input {
        //children of search-btn class
        width: 100%;
        height: 100%;
        font-size: 1.3rem;
        text-transform: none;
        color: $color;

    }

    label {
        //children of search-btn class having Search icon
        font-size: 2rem;
        padding-right: 1.3rem;
        cursor: pointer;

        &:hover {

            color: #f05d2c
        }

        ;

    }



}

;

/*Universal Css*/
.active {
    z-index: 1;
    overflow-x: hidden;
    right: 0%;
}

;




//Section part 2 
.home {
    margin-top: 9rem;
    width: 100vw;
    min-height: 70vh;
    background-color: #181717;
    background-image: url("../image/homepage.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    transition: all 0.6s ease-in-out;
    text-align: end;

    .hero {
        //     width: 42rem;
        //     height: 50vh;
        padding: 2rem;
        transition: all 0.6s ease-in-out;

        h1 {
            margin-right: 0;
            margin-top: 5rem;
            font-size: 6rem;
            text-transform: uppercase;
            color: $color;
            transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;

            &:hover {
                margin-right: 10%;
            }

        }

        p {
            margin-right: 0;
            font-size: 2rem;
            font-weight: lighter;
            line-height: 1.8rem;
            padding: 1rem 0;
            margin: 1rem;
            color: #eeeeee;
            transition: all 0.6s ease-in-out;

            &:hover {
                margin-right: 10%;
            }
        }

        .btn {
            margin-left: 0;
            text-align: center;
            background-color: #f05d2c;
            color: $color;
            font-size: 2rem;
            padding: 0.8rem 2.5rem;
            margin-top: 1rem;
            cursor: pointer;
            transition: all 0.6s ease-in-out;

            &:hover {
                margin-right: 3%;
                background-color: #008cff;
                color: #000000;
            }
        }

        ;

    }

    ;

    .Hero-button {
        position: absolute;
        top: 35vh;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 2rem;
        color: rgb(255, 255, 255);
    }

    .Hero-button-left {
        left: 5%;
    }

    .Hero-button-right {
        right: 5%;
    }

    ;

    i {
        font-size: 4rem;
    }

    ;

    &:hover {
        transform: scale(1.1)
    }

}

;

//second Section cake styling 
.title {
    padding: 2rem 2rem;
    text-shadow: 2px 2px 0 #27211f, -2px -2px 0 #27211f, -2px 2px 0 #27211f, 2px -2px 0 #27211f, ;
    text-align: center;
    color: #f05d2c;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
    transition: all 0.6s ease-in-out;
}

;

.menu-icon {
    display: none;
}

.cakes {
    transition: all 0.6s ease-in-out;

    .cakeCard {
        background-color: #ff9a78;
        padding: 3rem 2rem;
        margin-bottom: 1rem;
        text-align: center;
        transform-origin: top center;
        transition: all 0.3s ease-in-out;

        img {
            height: 60%;
            width: 100%;
        }

        h3 {
            color: #310d42;
            font-size: 2rem;
            padding: 1rem 0;
        }

        div {
            color: #124ebe;
            font-size: 1.8rem;
            padding: 0.5rem 0;
            margin-bottom: 1rem;

            spam {
                font-size: 1.6rem;
                text-decoration: line-through;
            }

            ;
        }

        ;

        .btn {
            margin-left: 0;
            text-align: center;
            color: $color;
            font-size: 2rem;
            padding: 0.8rem 2.5rem;
            margin-top: 1rem;
            cursor: pointer;
            background-color: #599180;

            &:hover {
                background-color: #534a4a;
                color: white;
            }
        }



        &:hover {
            transform: translate(0px, 10px);
            background-color: #f05d2c;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

            h3 {
                color: #ffffff;
            }
        }

        ;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;


        .see-more {
            margin-left: 0;
            text-align: center;
            background-color: #f05d2c;
            color: $color;
            font-size: 2rem;
            padding: 0.8rem 2.5rem;
            margin-top: 1rem;
            cursor: pointer;
            transition: all 0.6s ease-in-out;

            &:hover {
                transform: scale(1.1);
                background-color: #008cff;
                color: #00013a;
            }
        }

    }

}

;


.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    text-align: center;

}

//End of second Section cake styling 


//3rd Section style for CheeseCake
.cheeseCakes {
    margin: 10px 10px;

    .wrapper {
        .cheese-card {
            margin: 5px 5px;
            text-align: center;
            background-color: #6b9fe2;
            padding: 2rem;
            border: 2px solid #0f2130;
            transition: all 0.2s ease-in-out;

            .icons {
                a {
                    height: 5rem;
                    width: 5rem;
                    color: white;
                    font-size: 2rem;
                    cursor: pointer;
                    line-height: 5rem;
                    margin: 0, 3rem;

                    &:hover {
                        background-color: #f05d2c;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                    }
                }
            }

            .img {
                padding: 2rem 0;

                img {
                    height: 20rem;

                }
            }

            .content {
                h3 {
                    color: #0f2130;
                    font-size: 2.3rem;
                    margin: 1rem 0;
                }

                .stars {
                    font-size: 2.3rem;
                    color: #f05d2c;
                    padding: 1.8rem;

                    &:hover {
                        color: #ffbb00;
                        cursor: pointer;
                    }
                }

                .price {
                    color: #0f2130;
                    font-size: 1.6rem;

                    span {
                        color: #0f2130;
                        font-size: 1.4rem;
                        text-decoration: line-through;
                    }

                    ;
                }

                ;
            }

            ; //Ending of Content

            &:hover {
                margin: 5px 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                transform: scale(1.1);

                .stars {
                    color: #ff6600;
                }
            }
        }

        ; //Ending Of CheeseCard
    }

    ; //Ending Of wrapper
}

; //Ending Of CheeseCakes


//4th section Style for New arrivals 
.new-arrivals {
    .wrapper {
        .card {
            background-color: #ff9a78;
            border: 2px solid #0f2130;

            .img {
                width: 100%;

                img {
                    height: 100%;
                    object-fit: contain;
                    width: 100%;
                }

                ;
            }

            ;

            .content {
                padding: 2rem;

                /*a:nth-of-type(1){}*/
                .arrival-name {
                    font-size: 2.5rem;
                    line-height: 5rem;
                    color: #0f2130;
                }

                ;

                p {
                    color: #534a4a;
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                    margin-bottom: 2rem;
                }

                ;

                .btn {
                    margin-left: 0;
                    text-align: center;
                    color: $color;
                    font-size: 2rem;
                    padding: 0.8rem 2.5rem;
                    margin-top: 1rem;
                    cursor: pointer;
                    background-color: #599180;


                }

                ;
            }

            ; //Ending of Content

            &:hover {
                .btn {
                    background-color: #534a4a;
                    color: white;
                }

                ;
            }
        }

        ; //Ending of Card
    }

    ; //Ending of Wrapper of arrival
}

//Ending of new-arrivals.


.about {

    .container {
        display: flex;
        justify-content: center;
        background-color: #0f2130;
        flex-wrap: wrap;
        width: 100%;

        .img {
            width: 60%;
            // width:40%;
            flex: 1 1 45rem;

            img {
                width: 100%;
            }
        }

        .content {
            flex: 1 1 45rem;
            padding: 2rem;

            h3 {
                font-size: 3rem;
                color: white;
                padding: 1.2rem 0;
            }

            p {
                font-size: 1.6rem;
                padding: 1rem 0;
                line-height: 2.2rem;
                color: #ccc;

            }

            .btn {
                margin-left: 0;
                text-align: center;
                background-color: #f05d2c;
                color: $color;
                font-size: 2rem;
                padding: 0.8rem 2.5rem;
                margin-top: 1rem;
                cursor: pointer;
                transition: all 0.6s ease-in-out;

                &:hover {
                    margin-right: 3%;
                    background-color: #008cff;
                    color: #000000;
                }
            }
        }

    }

    //end of container
}

; //end of about

//review styling
.review {
    .wrapper {
        .review-card {
            border: 2px solid #0f2130;
            text-align: center;
            padding: 3rem 2rem;

            /**/
            img {
                height: 4rem;
            }

            /**/
            .customer {
                height: 7rem;
                width: 7rem;
                object-fit: cover;
                border-radius: 50%;

                &:hover {
                    transform: scale(1.1);
                }
            }

            /**/
            p {
                font-size: 1.6rem;
                line-height: 2.2rem;
                color: gray;
                padding: 2rem 0;
            }

            /**/
            &:hover {
                p {
                    color: black;
                }

                ;
            }

            ;

            /**/
            h3 {
                padding: 1rem 0rem;
                font-size: 2rem;
                color: #ff4000;
                text-shadow: 0 0 10px rgb(255, 123, 0);
            }

            /**/
            i {
                font-size: 1.5em;
                color: #ec9d25;
                padding: 0.8rem 0;
            }

        }

        //review Card Ends
    }

    //wrapper ends
}

//review ends


//contact us styling
.contact {
    .content {
        display: flex;
        background-color: #0f2130;
        flex-wrap: wrap;
        gap: 1rem;

        iframe {
            height: 50rem;
            flex: 1 1 45rem;
            object-fit: cover;
        }

        form {
            height: 50rem;
            flex: 1 1 45rem;
            text-align: center;
            padding: 5rem 2rem;

            h3 {
                text-transform: uppercase;
                color: #fff;
                font-size: 3.5rem;
                padding: 1.5rem 0rem;
            }

            .input-box {
                display: flex;
                align-items: center;
                margin-bottom: 2rem;
                border: 2px solid #ffffff;

                span {
                    color: white;
                    font-size: 2rem;
                    padding: 2rem;
                }

                input {
                    background-color: #000;
                    text-transform: none;
                    color: #fff;
                    width: 100%;
                    padding: 2rem;
                    font-size: 1.8rem;

                    name {
                        color: grey;
                    }
                }
            }

            .btn {
                margin-left: 0;
                text-align: center;
                background-color: #f05d2c;
                color: $color;
                font-size: 2rem;
                padding: 0.8rem 2.5rem;
                margin-top: 1rem;
                cursor: pointer;
                transition: all 0.6s ease-in-out;

                &:hover {
                    margin-right: 3%;
                    background-color: #008cff;
                    color: #000000;
                }
            }

            //btn ends
        }

        //form ends
    }

    //content ends
}

//contact ends

//footer Styling
footer {
    background-color: #0f2130;
    text-align: center;

    .socialMedia {
        padding: 1rem 0;

        a {
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            line-height: 5rem;
            font-size: 2rem;
            color: #ffffff;
            border: 1px solid #fff;
            margin: 0.5rem;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: #f05d2c;
                color: #000;
                transform: scale(1.1);
            }
        }


    }

    .links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 2rem 0;
        gap: 1rem;

        a {
            padding: 0.7rem 2rem;
            color: #fff;
            border: 1px solid #fff;
            font-size: 2rem;
            transition: all 0.3s ease-in-out;
            font-weight: 700;

            &:hover {
                background-color: #f05d2c;
                color: #490808;
                transform: scale(1.1);
            }
        }
    }

    .credits-copyright {
        font-size: 2rem;
        color: #fff;
        font-weight: lighter;
        padding: 1.5rem;

        a {
            color: #f05d2c;
        }

    }
}

//footer ends 



//_________________________MEDIA QURIES_______________________

@media all and (max-width:1024px) {
    html {
        font-size: 55%;
    }
}

@media all and (max-width:1024px) {
    .header {
        .logo {
            img {
                height: 7rem;
            }
        }
    }
}

@media all and (max-width:1024px) {
    .mb {
        margin-bottom: 2rem;
    }
}

;
@media all and (max-width:1024px) {
    .contact {
        .content {
            form {
                h3 {
                    font-size: 3rem;
                }
            }
        }
    }

}

;

@media all and (max-width:1024px) {
    .title {
        padding: 4rem 0rem;
        font-size: 3.5rem;
    }
}

;

@media all and (max-width:1024px) {
    section {
        padding: 2rem;
    }

    .home .hero h3 {
        font-size: 4.5rem;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 20rem;
        background-color: #534a4a;
        height: 80vh;
        text-align: center;
    }


    .header .navbar a {
        background-color: #fff;
        color: #000000;
        display: block;
        font-size: 2rem;
        padding: 0.5rem;
        margin: 1.5rem;
    }

    .header .navbar.active {
        right: 0%;
    }

    .header .search-btn {
        width: 92%
    }

    .header .search-btn.active {
        right: 4%;
    }

    .menu-icon {
        display: inline-block;
    }
}

;
@media all and (max-width:1024px) {
    .hide {
        display: none;
    }

    .credits-copyright {
        font-size: smaller;
    }
}